<h1>Books</h1>

<table>
  <thead>
  <tr>
    <th>Book ID</th>
    <th>Title</th>
    <th>Genre</th>
    <th>Cost Price</th>
    <th>Selling Price</th>
    <th>Stock Level</th>
    <th>Stock Condition</th>
    <th>Markup</th>
    <th>Publisher ID</th>
    <th>Publisher Name</th>
    <th>Publisher Active</th>
    <th></th>
  </tr>
  </thead>
  <% for book in @books %>
  <tbody>
  <tr>
    <td><%=book.id%></td>
    <td> <%=book.title%></td>
    <td><%=book.genre%></td>
    <td>£<%=book.cost_price%></td>
    <td>£<%=book.selling_price%></td>
    <td><%=book.stock_level%></td>
    <td><%=book.check_stock_condition%></td>
    <td>£<%=book.calc_markup%></td>
    <td><%=book.publisher_id%></td>
    <td><%=Publisher.find_by_id(book.publisher_id).name%></td>
    <td><%=Publisher.find_by_id(book.publisher_id).active%></td>
    <td><a href="/books/<%=book.id%>/edit">Edit</a></td>
  </tr>
  </tbody>
  <% end %>
</table>

<a href="/books/new">New Book</a>
