<h2>Book Details</h2>

<p>Title: <%=@books.title()%> </p>
<p>Genre: <%=@books.genre()%></p>
<p>Cost Price: £<%=@books.cost_price%></p>
<p>Selling Price: £<%=@books.selling_price%></p>
<p>Stock Level: <%=@books.stock_level%></p>
<p>Stock Condition: £<%=@books.check_stock_condition%></p>
<p>Markup: £<%=@books.calc_markup%></p>


<form action="/books/<%=@books.id%>/delete" method="POST">
  <button type="submit">Delete Book</button>
</form>

<form action="/books/<%=@books.id%>/edit" method="get">
  <button type="submit">Edit</button>
</form>
